<div class="container mt-5 py-5">
    <div class="row mx-auto">
        <div class="col-6">
            <div class=" mt-4 py-3 fw-bold  fs-1">
                CROWN
                WEALTH
                INSTITUTION
            </div>
            <button class="btn mt-4 btn-primary">
                <a routerLink="/create" class="text-decoration-none text-light">
                    GET STARTED
                </a>
            </button>
        </div>
        <div class="col-6">
            <img class="col-9 ms-5 rounded"
                src="https://img.freepik.com/free-photo/newletter-join-us-sign-up_53876-123682.jpg?w=740&t=st=1706880600~exp=1706881200~hmac=1db1c281b828e400c8940c19f46521e8e1f00e0400a27dd3f76577cee93f5c37"
                alt="">
        </div>
    </div>
</div>