<nav class="navbar fixed-top shadow">
    <div class="container-fluid px-2">
        <a class="navbar-brand" href="#" fw-bold class="text-primary text-decoration-none">
            CROWN
            <span style="font-size: 10px;" class="text-primary"> WEALTH </span>
            <span style="font-size: 16px;"> INSTITUTION</span>
        </a>
        <button class="navbar-toggler d-md-none d-block bg-dark" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-md-block d-none">
            <ul class="d-flex justify-content-between gap-md-5 mt-2  py-2 px-md-5">
                <li><a class="text-decoration-none text-dark" routerLink="/">HOME</a></li>
                <li><a class="text-decoration-none text-dark" routerLink="/create">SIGNUP/sutdent</a></li>
                <li><a class="text-decoration-none text-dark" routerLink="/admin">SIGNUP/Admin</a></li>
                <li><a class="text-decoration-none text-dark" routerLink="/login">SIGNIN</a></li>
                <li><a class="text-decoration-none text-dark" routerLink="/dashboard">DASHBOARD</a></li>
            </ul>
        </div>
        <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>


                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>
<div class="container mt-5 py-5">
    <div class="row mx-aut">
        <div class="col-4 mt-4 fw-bold  fs-1">
            CROWN
            WEALTH
            INSTITUTION
        </div>
        <div class="col-6">
            <img class="col-8 rounded"
                src="https://img.freepik.com/free-photo/newletter-join-us-sign-up_53876-123682.jpg?w=740&t=st=1706880600~exp=1706881200~hmac=1db1c281b828e400c8940c19f46521e8e1f00e0400a27dd3f76577cee93f5c37"
                alt="">
        </div>
    </div>
</div>
<router-outlet></router-outlet>